html {
  box-sizing: border-box;
  font-size: $html-font-size;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $base-text-color;
  //background: $base-background-color;
  background: $bg-body;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  //overflow-y: scroll;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  color: $base-link-color;
  text-decoration: none;
}

ul {
  @extend %listreset;
}