$bg-gray: #f2f2f2;
$gray-brand: #4a4a4a;
$gray-light: #d6d6d6;
$gray: #9b9b9b;
$gray-dark: #777;
$black-light: #5a5959;
$yellow-light: #fffff5;
$yellow: #ffffe0;
// $blue: #4a90e2;
$blue: #0288d1;
$red: #d03301;
$black: #222;

$padding-hor: 30px;


$left-sidebar-bg: #f5f5f5;
$right-sidebar-bg: #fff;

$border-color: #e0e0e0;

$bg-body: #fafafa;
$bg-header-bottom: #ededed;

$error: $red;
$panel-bg: $yellow;
$brand-primary: $blue;
$brand-secondary: $yellow;

$gutter: 8px;
$html-font-size: 10px;

$radius-base: 4px;
$radius-small: 2px;
$radius-medium: 6px;
$radius-large: 8px;

$gray: #999;
//$black: #272829;

$base-link-color: $blue;

// $base-link-color: $brand-primary;
$base-font-sans-serif: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
$base-font-serif: "Times New Roman", Times, Baskerville, Georgia, serif;

// body
$base-text-color: $black;
$base-background-color: #ececec;
$base-font-size: 1.3rem;
$base-line-height: 1.3571;
$base-font-family: $base-font-sans-serif;

// headers
$h1-font-size: 2.9rem;
$h2-font-size: 2.6rem;
$h3-font-size: 2.3rem;
$h4-font-size: 2.0rem;
$h5-font-size: 1.7rem;
$h6-font-size: 1.5rem;
