.header-projects {
  flex: 1;

  > span {
    font-size: 2rem;
    display: inline-block;
    margin-right: $gutter;
  }
}

.header-project-control {
  position: relative;
  display: inline-block;
}

.header-projects-name {
  font-size: 2rem;
  display: inline-block;
  margin-right: $gutter;
  cursor: pointer;

  .is-opened & {
    background: #fff;
    border: 1px solid $border-color;
    border-bottom: 0;
    margin: -5px -2px -11px -10px;
    padding: 5px 10px 11px;
    color: $gray-brand;
    position: relative;
    z-index: 11;
  }
}

.header-projects-opener {
  display: inline-block;
  vertical-align: baseline;
  //@include triangle(20px, #f00, down);
  background: url(../images/icons/chevron-down.svg) no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  cursor: pointer;
}

.header-projects-creator {
  display: inline-block;
  vertical-align: baseline;
  background: url(../images/icons/add-plus.svg) no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
}



.header-projects-list {
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: ($gutter + 1px);
  left: (-$gutter);
  background: #fff;
  //padding: $gutter 0;
  min-width: 100%;
  max-height: 251px;
  width: 250px;
  overflow: auto;
  @extend %filter-shadow;
  display: none;
  color: $black-light;

  .is-opened & {
    display: block;
  }

  li {
    //padding: ($gutter * 0.7) ($gutter * 0.5);
    font-size: 1.4rem;
  }

  a {
    display: block;
    padding: ($gutter * 0.7) ($gutter);
    color: $black-light;
    //@include truncateText;

    &:hover {
      background: #eee;
    }
  }

  li + li {
    border-top: 1px solid $border-color;
  }
}