.badge {
  color: $gray;
  border: 1px solid;
  border-radius: 9px;
  line-height: 17px;
  text-align: center;
  min-width: 19px;
  padding: 0 3px;
  font-size: 1.1rem;
  display: inline-block;
  vertical-align: top;
}